.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
**/out/**
webpack.config.js
eslint.config.mjs
.github/**
CONTRIBUTING.md
CODE_OF_CONDUCT.md
MAINTAINERS.md
SECURITY.md
docs/**
.vscode-test.mjs
dalec-vscode-tools-*.vsix
tslint.json
node_modules/**
