name: Main Build
on: [workflow_dispatch]

jobs:
  build:
    name: release
    runs-on: ubuntu-latest
    permissions:
        actions: read
        contents: write
        deployments: read
        packages: none
    steps:
    - name: Checkout
      uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
    - name: Use Node.js
      uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
      with:
        node-version: 20
    # Run install dependencies
    - name: Install dependencies
      run: npm install
    # Run tests
    - name: Build
      run: npm run compile
    - name: Install vsce
      run: npm install -g @vscode/vsce

    - name: Package VSIX
      run: vsce package

    - name: Upload VSIX artifact
      uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
      with:
        name: vscode-extension-vsix
        path: '*.vsix'
